{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <thead>
        <tr>
            {% for attribute in attributes %}
                <th>{{ attribute }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in arr %}
            <tr>
                {% for attribute in attributes %}
                    <td>{{ row[attribute] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
